<footer class="page-footer bg-transparent img-text-login" role="contentinfo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 justify-content-between d-flex">
                <a target="_blank" style="text-decoration:none !important;" href=""><b class="font-weight-bold text-white">GameDineHub.com</b></a>
                <a href="" data-toggle="modal" data-target="#howToPlayModal" class="font-weight-bold text-white">How To Play</a>
            </div>
        </div>
    </div>
</footer>


@Html.Partial("~/Views/Modal/_HowToPlayModal.cshtml")
