
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Template Name:  SmartAdmin Responsive WebApp - Template build with Twitter Bootstrap 4
Version: 4.0.0
Author: Sunnyat Ahmmed
Website: http://gootbootstrap.com
Purchase: https://wrapbootstrap.com/theme/smartadmin-responsive-webapp-WB0573SK0
License: You must have a valid license purchased only from wrapbootstrap.com (link above) in order to legally use this theme for your project.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Reset Password | Game Dine Hub
    </title>
    <meta name="description" content="Game Dine Hub">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link rel="stylesheet" media="screen, print" href="~/Assets/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/Assets/css/app.bundle.css">
    <link id="mytheme" rel="stylesheet" href="~/Assets/css/themes/cust-theme-3.css">
    <link rel="stylesheet" media="screen, print" href="~/Assets/css/page-login.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Assets/img/favicon/favicon.png">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <!-- Optional: page related CSS-->
</head>
<body>
    <div class="page-wrapper">
        <div class="page-inner bg-brand-gradient">
            <div class="page-content-wrapper bg-transparent m-0">
                <div class="height-10 w-100 shadow-lg px-4 bg-light">
                    <div class="d-flex align-items-center container p-0">
                        <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center width-1">
                                <img src="~/Assets/img/logoFSP.png" style="width:175px" alt="Game Dine Hub" aria-roledescription="logo">
                                <span class="page-logo-text mr-1">Game Dine Hub</span>
                            </a>
                        </div>
                        @*<span class="text-black ml-auto mr-2 hidden-sm-down">
                                Remember Password?
                            </span>
                            <a href="~/Account/login" class="btn-link text-danger ml-auto ml-sm-0">
                                Login
                            </a>*@
                    </div>
                </div>
                <div class="flex-1 login-bg-img" style="background: url(/Assets/img/backgrounds/bg.jpg) no-repeat center center fixed; background-size: cover;">
                    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0 img-text-login">
                        <div class="row">
                            <div class="col-xl-12">
                                <h2 class="fs-xxl fw-500 my-4 text-white text-center">
                                    "Use below form to reset your password"
                                </h2>
                            </div>
                            <div class="col-md-6 ml-auto mr-auto">
                                <div class="card p-4 rounded-plus bg-faded">
                                    <div id="errorAlert" class="alert border-danger bg-transparent text-danger d-none" role="alert">
                                        <strong>Error!</strong> <span id="feedBackTextError"></span>
                                    </div>
                                    <div id="successAlert" class="alert border-success bg-transparent text-success d-none" role="alert">
                                        <strong>Success!</strong> <span id="feedBackTextSuccess"></span>
                                    </div>
                                    <form id="resetPasswordForm" novalidate="" action="intel_analytics_dashboard.html">
                                        <input id="UserName" name="UserName" type="hidden" value="@ViewBag.UserName" />
                                        @if (!string.IsNullOrEmpty(ViewBag.UserName))
                                        {
                                            <div class="form-group">
                                                <label class="form-label" for="lostaccount">New Password <span class="text-danger">*</span></label>
                                                <input type="password" id="NewPassword" name="NewPassword" class="form-control form-control-sm" placeholder="New Password" required>
                                                <div class="invalid-feedback">No, you missed this one.</div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="lostaccount">Retype Password <span class="text-danger">*</span></label>
                                                <input type="password" id="OldPassword" name="OldPassword" class="form-control form-control-sm" placeholder="Retype Password" required>
                                                <div class="invalid-feedback">No, you missed this one.</div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col-md-4 ml-auto text-right">
                                                    <button id="restPassBtn" type="button" class="btn btn-success"><i class="fal fa-save mr-1"></i>Update</button>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="errorAlert" class="alert bg-danger-400 text-white" role="alert">
                                                <strong>Error!</strong> @ViewBag.UserFeedbackMessage
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col-md-4 ml-auto text-right">
                                                    <a href="~/Account/ForgotPassword" class="btn btn-warning"><i class="fal fa-plane mr-1"></i>Resend Link</a>
                                                </div>
                                            </div>
                                        }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute pos-bottom pos-left pos-right  text-center text-white img-text-login">
                        <footer class="page-footer bg-transparent img-text-login" role="contentinfo">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a target="_blank" style="text-decoration:none !important;" href=""><b class="font-weight-bold text-white">GameDineHub.com</b></a>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- base vendor bundle:
         DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
                    + pace.js (recommended)
                    + jquery.js (core)
                    + jquery-ui-cust.js (core)
                    + popper.js (core)
                    + bootstrap.js (core)
                    + slimscroll.js (extension)
                    + app.navigation.js (core)
                    + ba-throttle-debounce.js (core)
                    + waves.js (extension)
                    + smartpanels.js (extension)
                    + src/../jquery-snippets.js (core) -->
    <script src="~/Assets/js/vendors.bundle.js"></script>
    <script src="~/Assets/js/app.bundle.js"></script>
    <script>
        $(document).off('click', "#restPassBtn").on('click', "#restPassBtn", function (e) {
            let _that = this;
            $("#resetPasswordForm").addClass('was-validated');
            $(".alert").addClass('d-none');
            if ($("#resetPasswordForm")[0].checkValidity()) {
                if ($('#NewPassword').val() == $('#OldPassword').val()) {
                    let buttonPrevHtml = showLoadingToButtonAndReturnOriginalHtml(_that);
                    let requestParam = $('#resetPasswordForm').serializeArray();
                    $.ajax({
                        cache: false,
                        url: "/Account/ResetPassword",
                        type: 'POST',
                        data: requestParam,
                        dataType: "json",
                        async: true,
                        success: function (data, status, xhr) {
                            hideLoadingFromButton(_that, buttonPrevHtml);
                            if (data.IsSuccess) {
                                $('#successAlert').removeClass('d-none');
                                $('#resetPasswordForm').addClass('d-none');
                                $('#feedBackTextSuccess').html(data.userFeedbackMessage);
                            } else {
                                $('#errorAlert').removeClass('d-none');
                                $('#feedBackTextError').html(data.userFeedbackMessage);
                            }
                        },
                        error: function (xhr, ex) {

                        }
                    });
                } else {
                    $('#errorAlert').removeClass('d-none');
                    $('#OldPassword').val('')
                    $('#feedBackTextError').html("Password do not match. Please Retype password.");
                }

            }
            else {
                return false;
            }
        });

        showLoadingToButtonAndReturnOriginalHtml = function (btn) {
            let buttonPrevHtml = $(btn)[0].innerHTML;
            $(btn)[0].innerHTML = '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Please wait...';
            $(btn).attr("disabled", "disabled");
            return buttonPrevHtml;
        }
        hideLoadingFromButton = function (btn, btnPrevHtml) {
            $(btn)[0].innerHTML = btnPrevHtml;
            $(btn).removeAttr("disabled");
        }
    </script>
</body>
</html>
